.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 10px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  padding: 36px 50px 32px;
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__preview-container {
  position: relative;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -32px;
  background-image: url(../images/CloseIconWhite.svg);
  z-index: 1002;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: background-image 0.2s ease;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__input {
  display: flex;
  padding: 16px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  gap: 8px;
  border: 1px solid #212121;
  box-sizing: border-box;
}

.modal__input_invalid {
  border: 2px solid rgba(255, 87, 51, 0.8);
  opacity: 0.8;
  outline: none;
}

.modal__input:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__submit-btn {
  color: #fcf5e5;
  border-radius: 8px;
  width: 156px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-right: auto;
  transition: transform 0.5s ease-in-out;
  background: #212121;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__caption {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  margin: 0;
  background-color: #212121;
  color: #ffffff;
  padding: 4px 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 10;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__input-error {
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
  color: #ff0000;
  opacity: 70%;
}

.modal__input-error_visible {
  display: block;
}

.modal__submit-btn:disabled {
  background: #212121;
  color: #fcf5e5;
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
    padding: 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
  }
}
